.statistics {
    width: 400px;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px,
      rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    font-size: 20px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.title {
    margin-bottom: 25px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 16px;
}

.item {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 15px 0;
}

.percentage {
    font-size: 22px;
}