.transactionHistory {
    width: 800px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px,
      rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    border-radius: 2px;
}

.head {
    height: 50px;
    background-color: rgb(131, 144, 218);
    color: white;
}

.body {
    text-align: center;
    color: rgb(86, 86, 86);
    
}

.row {
    height: 50px;
}

.row:nth-child(even) {
    background-color: rgb(226, 226, 226);
}

.row:nth-child(odd) {
    background-color: rgb(244, 244, 244);
}

.type::first-letter {
    text-transform: uppercase;
}
